[submodule "benchmark/llm/kbench/kernelbench"]
	path = benchmark/llm/kbench/kernelbench
	url = https://github.com/ScalingIntelligence/KernelBench.git
[submodule "benchmark/llm/rkbench/robust_kbench"]
	path = benchmark/llm/rkbench/robust_kbench
	url = https://github.com/SakanaAI/robust-kbench.git
[submodule "eval/openevolve"]
	path = eval/openevolve
	url = https://github.com/yuxuan-z19/openevolve.git
	branch = cudanalyst
[submodule "eval/llm4ad"]
	path = eval/llm4ad
	url = https://github.com/yuxuan-z19/LLM4AD.git
	branch = cudanalyst
